.row {
    display: flex;
    background-color: green;
    width: 800px;
    height: 100px;
}
.col {
    align-items: center;
    flex: 1;
    color: white;
    border: dotted black;
}
.col-2 {
    align-items: center;
    flex: 2;
    color: white;
    border: dotted black;
}
.col-3 {
    align-items: center;
    flex: 3;
    color: white;
    border: dotted black;
}